<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Książki</title>
        <link rel="icon" href="./resources/favicon.ico">
        <link rel="stylesheet" href="./bootstrap-css/bootstrap.css">
        <link rel="stylesheet" href="./css/style.css">
        <script type="module" src="./bootstrap-js/bootstrap.js"></script>
        <script type="module" src="./js/fun.js"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="./">MHWWebApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" href="/authors">Autorzy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./books">Książki</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <div class="container">
            <main role="main" class="pb-3">